/* Estilos para el formulario de registro */

.signup-principal {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  background-image: url("../assets/images/background/guantes.png");
  height: 93.3vh; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.signup-form {
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: 50vh;
}

.signup-form .mb-3 {
  margin-bottom: 20px;
}

.signup-form label {
  font-weight: bold;
}

.signup-form input[type="text"],
.signup-form input[type="number"],
.signup-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.signup-form select {
  height: 40px;
}

.signup-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}
