.index {
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* justify-content: center;  */
  height: 100vh; 
  background-image: url("./assets/images/background/fondo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.index h1{
  color: rgb(255, 255, 255);

}

.navbar {
  display: flex; 
  align-items: center; 
  background-color: #ffffff;
  width: 100%;
}

.logo {
  display: block; 
  margin: 0 auto;
  height:5vh;
}


.principal{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  width: 100%;
  margin-top: 10%;
}

.botones {
  margin-right: 5%;
  margin-right: 10%;
  color: #ffffff;
  height: auto;
  width: 20%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(252, 5, 5, 0), rgba(0, 0, 0, 0));
  padding: 10px;
  border-radius: 5px; 
  border: 2px solid rgb(255, 255, 255); 
  box-shadow: 0 30px 50px rgba(255, 255, 255, 0.3); 
}


.write-id {
  margin-bottom: 20px;
}



input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.boton-id {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.nuevo{
  margin-top: auto;
}

.btn.btn-primary {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
